@model LojaDeGames.Models.Jogo
@{
    ViewBag.Title = "DetalhesJogos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ID: @Model.Id</h2><br />
<h2>Nome: @Model.Nome</h2><br />
<h2>Genero: @Model.Genero</h2><br />
<h2>Faixa Etaria: @Model.FaixaEtaria</h2><br />
<h2>Desenvolvedora: @Model.Desenvolvedora</h2><br />

