@model LojaDeGames.Models.JogoIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jogos</h2>
@if (!Model.Jogos.Any())
{
    <p>
        @Html.ActionLink("Novo Jogo", "New", null, new { @class = "btn btn-primary" })
    </p>
    <p>Não temos nenhum jogo ainda.</p>
}
else
{
    <p>
        @Html.ActionLink("Novo Jogo", "New", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Jogo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jogo in Model.Jogos)
            {
                <tr>
                    <td>@Html.ActionLink(@jogo.Nome, "Edit", new { id = jogo.Id })</td>
                    <td>@Html.ActionLink("Deletar", "Delete", new { id = jogo.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
