@model LojaDeGames.Models.ClienteIndexViewModel
@{
    ViewBag.Title = "IndexCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Clientes</h2>
@if (!Model.Clientes.Any())
{
    <p>Não temos nenhum cliente ainda.</p>
}
else
{
    <p>
        @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model.Clientes)
            {
                <tr>
                    <td>@Html.ActionLink(@cliente.Nome, "Edit", new { id=cliente.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}


@*@if (@Model.Clientes.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th><h3 style="text-align:center">Clientes</h3></th></tr>
        </thead>
        <tbody>

            @foreach (var clientes in Model.Clientes)
            {
                <tr><td>@Html.ActionLink(clientes.Nome, "DetalhesClientes", new { clientes.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have any customers yet.</p>
}*@


